registry=https://registry.npmjs.org/
@navikt:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NPM_AUTH_TOKEN}

# Supply chain hardening (ref: https://sikkerhet.nav.no/docs/sikker-utvikling/supply-chain)
minimum-release-age=4320
block-exotic-subdeps=true
