.accordionTimelineRoot {
  padding-left: var(--ax-space-24);
  position: relative;
  margin-bottom: var(--ax-space-80);
}

.accordionTimelineLine {
  width: 1px;
  background-color: var(--ax-border-default);
  height: calc(100% + var(--ax-space-80));
  position: absolute;
  top: var(--ax-space-4);
  left: var(--ax-space-28);
}

.accordionTimelineDot {
  width: var(--ax-space-8);
  height: var(--ax-space-8);
  background-color: var(--ax-neutral-000);
  border-radius: var(--ax-space-8);
  border: 1px solid var(--ax-border-default);
  position: absolute;
  top: var(--ax-space-24);
  left: var(--ax-space-24);
}

.accordionTimelineWrapper {
  margin-left: var(--ax-space-32);
}

.accordionTimelineWrapper ul {
  margin-bottom: var(--ax-space-28);
}

.accordionContent {
  padding-bottom: 0;
}

.accordionItem svg {
  color: var(--ax-text-accent);
}

.headerContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--ax-text-accent);
}

.headerContent svg {
  margin-right: var(--ax-space-16);
  height: var(--ax-space-24);
  width: var(--ax-space-24);
}

@media screen and (max-width: 380px) {
  .headerContent h3 {
    font-size: var(--ax-font-size-heading-xsmall);
  }
}
