.root {
    max-width: 256px;
    min-width: 192px;
}

.select {
    margin-top: calc(var(--navds-font-line-height-heading-medium) * -1);
}

.pickerHeader {
    margin-bottom: var(--navds-spacing-4);
}
