.uxSignalsContainer {
  margin-top: var(--ax-space-48);
}

.uxSignalsContainer > :global(.uxsignals-container) {
  background-color: var(--ax-bg-default);
  border-color: var(--ax-border-accent);
  border-radius: var(--ax-radius-8);
  color: var(--ax-text-neutral);
}

.uxSignalsContainer :global(.uxsignals-cta) {
  background-color: var(--ax-bg-accent-strong);
  color: var(--ax-text-accent-contrast);
  border-radius: var(--ax-radius-4);
}

.uxSignalsContainer :global(.uxsignals-cta):hover {
  background-color: var(--ax-bg-accent-strong-hover);
}
