.veileder {
  margin-bottom: var(--ax-space-40);
}

.veileder p {
  font-size: var(--ax-font-size-medium);
}

.veileder p:last-of-type {
  margin: 0;
}

.centerContent.noBorder {
  display: flex;
  align-items: center;
}

.centerContent.noBorder > div:first-of-type {
  position: relative;
}

.centerContent.noBorder > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.noBorder > div:first-of-type {
  top: 0;
  margin-right: -1.5rem;
}

.noBorder {
  --ax-border-default: transparent;
}

.noBorder div:last-of-type {
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 425px) {
  .centerContent.noBorder {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .centerContent.noBorder > div:first-of-type {
    top: 0;
    margin-right: -4rem;
    margin-bottom: var(--ax-space-16);
  }

  .centerContent.noBorder div:last-of-type {
    padding: 0;
  }

  .noBorder {
    margin: 0 0 var(--ax-space-16) 0;
  }
}
