name: Upload rarely changed public files to NAV CDN
on:
  push:
    branches:
      - main
    paths:
      - public/**
      - .github/workflows/upload-public.yml
  pull_request:
    branches:
      - main
    paths:
      - public/**
      - .github/workflows/upload-public.yml
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  build:
    name: upload public files to NAV CDN
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v6
      - name: Upload public files to NAV CDN
        uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: team-esyfo
          source: ./public
          destination: '/dinesykmeldte'
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
